version: '3'

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile.api
    ports:
      - "8086:8000"
    environment:
      - QDRANT_HOST=qdrant
      - QDRANT_PORT=6333
      - DB_HOST=db
      - OPENAI_API_KEY=${OPENAI_API_KEY}
    volumes:
      - .:/app

  admin-api:
    build:
      context: .
      dockerfile: Dockerfile.api
    command: uvicorn app.api.admin:app --host 0.0.0.0 --port 8000 --reload
    ports:
      - "8087:8000"
    environment:
      - QDRANT_HOST=qdrant
      - QDRANT_PORT=6333
      - DB_HOST=db
      - OPENAI_API_KEY=${OPENAI_API_KEY}
    volumes:
      - .:/app

  ui:
    build:
      context: .
      dockerfile: Dockerfile.ui
    ports:
      - "8080:8501"
    volumes:
      - .:/app

  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: mydb
      MYSQL_USER: me
      MYSQL_PASSWORD: me
    ports:
      - "3306:3306"
    volumes:
      - ./mysql/data:/var/lib/mysql
      - ./mysql/my.cnf:/etc/mysql/conf.d/my.cnf
      - ./mysql/db/:/docker-entrypoint-initdb.d

  qdrant:
    image: qdrant/qdrant
    ports:
      - "6333:6333"
    volumes:
      - ./qdrant_storage:/qdrant/storage
