fastapi
uvicorn[standard]
requests
mysql-connector-python
openai
python-dotenv
beautifulsoup4
langgraph
langchain-core
qdrant-client
python-multipart
celery
redis
neo4j
pypdf
aiofiles
boto3==1.34.0
pydantic-settings
numpy
